# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Linker outputs
*.map

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug binary output folder
Debug/*
Release/*

#Ignore the CMakeCache
.Debug/CMakeCache.txt
.Release/CMakeCache.txt
